.toast {
  position: fixed;
  bottom: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  opacity: 0.95;
  background-color: #fde0e9;
  color: red;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.toast.success {
  background-color: #e1edde;
  color: green;
}
