.section-weeklyhabit-wrap {
  margin-top: 2.5rem;
  padding: 1.5rem;
  width: 100%;
  border: #818181 solid 1px;
  border-radius: 1.25rem;
}

.weekname {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #818181;
  justify-content: end;
  text-align: center;
}

.weekname > li {
  width: 7.375rem;
}
