.timerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 0 1rem;
}

/* 태블릿 사이즈 */
@media screen and (max-width: 1200px) {
  .timerPage {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }
}

/* 모바일 사이즈 */
@media screen and (max-width: 768px) {
  .timerPage {
    margin-top: 2rem;
    padding: 0 1rem;
  }
}
