* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  font-style: normal;
  background: #f6f4ef;
  margin: 0 auto;
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
