.create-main {
  max-width: 720px;
  margin: 3rem auto;
}

.create-container {
  margin-bottom: 3rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
}

.create-title {
  /* font-family: Pretandard; */
  font-size: 1.5rem;
  font-weight: 800;
  color: #414141;
}

.create-form {
  display: flex;
  flex-direction: column;

  & label {
    /* font-family: Pretandard; */
    font-size: 1.125rem;
    font-family: 600;
    margin-bottom: 1rem;
    color: #414141;
  }

  & input {
    padding: 0.75rem 1.25rem;
    border-radius: 0.9375rem;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
  }

  & input::placeholder {
    font-weight: 400;
    color: #818181;
  }
}

.description-textarea {
  resize: none;
  border-radius: 0.9375rem;
  border: 1px solid #ddd;
  height: 6rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1.5rem;
}

/*-------- 배경 선택 ---------*/
.bg-options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bg-options {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;

  & input {
    display: none;
  }
}

.selected-container {
  position: absolute;
  left: 60px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  width: 2rem;
  height: 2rem;
  background-image: url('../../assets/icons/ic_bg_selected.svg');
  /* public/icons/paw.png */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.bg-options .bg-preview {
  height: 9.375rem;
  object-fit: cover;
  -webkit-user-drag: none;
}

/*------- 더보기 버튼 ---------*/
.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.635rem;
  background-color: #99c86e;
  border-radius: 1rem;
  border: 0px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  /* font-family: EF_jejudoldam; */
}

.create-btn:hover {
  background-color: #999;
  color: #fff;
}
