.cardListSection {
  margin-bottom: 2rem;
}

.cardListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .cardListContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
