.large-header {
  font-size: 2rem;
  font-weight: 800;
}

.middle-header {
  font-size: 1.5rem;
  font-weight: 800;
}

.small-header {
  font-size: 1.125rem;
  font-weight: 400;
  color: #818181;
  margin-bottom: 0.5rem;
}

.detail-main {
  width: 100%;
}

.detail-section {
  width: 75rem;
  padding: 2.5rem;
  margin: 2.5rem auto;
  border-radius: 1.25rem;
  background-color: #fff;
}

.section-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
}

.top-btn-list {
  display: flex;
  gap: 1rem;
  color: #578246;
}

.top-btn {
  border: none;
  background: none;
  padding: 0 0;
  color: #578246;
}

.top-btn-list > span:last-of-type,
.top-btn-list > li:last-of-type > .top-btn {
  color: #818181;
}

.section-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  height: 3rem;
}

.link-btn-list {
  display: flex;
  gap: 1rem;
}

.section-mid-wrap {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.point-box {
  margin-top: 1.5rem;
}
