.section-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  height: 3rem;
}
.section-mid-wrap {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}
