/*배경색 과 맞는지 확인*/
.NavContainer {
  max-width: 1920px;
  height: 6.25rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

.NavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.75rem;
  height: 3.635rem;
  background-color: #99c86e;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  /* font-family: EF_jejudoldam; */
  text-decoration: none;

  &:hover {
    background-color: #99c86ec2;
  }

  &:active {
    background-color: #729651;
  }
}
