/*배경색 과 맞는지 확인*/
.NavContainer {
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12.5rem;
  width: 100%;
  height: 6.25rem;
  margin: 0 auto;
}

.NavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.75rem;
  height: 3.635rem;
  background-color: #99c86e;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.125rem;
  font-family: JejuDoldam, serif !important;
  text-decoration: none;
  visibility: hidden;

  &:hover {
    background-color: #99c86ec2;
  }

  &:active {
    background-color: #729651;
  }
}

.show {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .NavContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0;
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .NavLink {
    width: 10rem;
    height: 3.625rem;
  }
}

@media screen and (max-width: 376px) {
  .NavContainer svg {
    width: 6.625rem;
    height: 2.1875rem;
  }

  .NavLink {
    width: 6.625rem;
    height: 2.25rem;
    font-size: 0.75rem;
  }
}
